<!doctype html>
<html lang="en" >
<head>
	<meta charset="UTF-8">
	<title>adblocker</title>
	<link href="https://fonts.googleapis.com/css?family=Play:400,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/estilos.css" >
</head>
<body>  
    <div id="fefefef23">
  		Pls remove your adblocker to keep us running<br>
	</div>
</body>
